* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* body { 
    padding: 15px;
 }

#container {
    background-color: #2f3640;
    width: 100%;
    min-width: 425px;
    height: 100%;
} */

#content {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 4px solid #263238;
    width: 100%;
    padding-top: 20px;
    padding-left: 10px;
    background-color: #164f64;
}

#leftContent {
    border: 1;
    width: 49%;
}

#leftContent h1 {
    color: white;
    margin: 20px;
}

#leftContent p {
    color: lightgray;
    font-size: 20px;
    margin: 20px;
    text-align: justify;
}

#rightContent {
    order: 2;
    width: 49%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

#rightContent .right1 {
    color: white;
    padding: 15px;
    width: 30%;
    text-align: center;
    float: left;
}

#rightContent .right1 a {
    display: block;
    text-decoration: none;
    color: lightgray;
    font-size: 23px;
    margin: 20px auto;
}

#rightContent .right1 a:hover {
    color: yellow;
    transition: .3s;
}

#register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 4px solid #263238;
    width: 100%;
    background-color: #164f64;
}

#register h1 {
    color: lightgray;
    text-align: center;
    font-weight: lighter;
    font-size: 35px;
}

#register a {
    text-decoration: none;
    color: white;
    width: 220px;
    background-color: red;
    border-radius: 80px;
    display: inline-block;
    margin-left: 20px;
    font-size: 28px;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    box-shadow: #212121 2px 2px 1px 1px;
}

#register a:hover {
    background-color: blue;
    color: white;
    font-weight: bold;
    transition: .3s;
}

#icons {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 4px solid #263238;
    background-color: #164f64;
}

#icons img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: #212121 2px 2px 1px 1px;
    margin: 0px 25px;
}

#icons img:hover {
    box-shadow: #212121 2px 2px 5px 5px;
    transition: .3s;
}

#copyright {
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #212121;
    height: 60px;
}

#copyright h2 {
    line-height: 60px;
}